<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>

<script src="js/goToTop.js"></script>

<div class="footer">
    <p>
        Alltrue Farm 2016
    </p>
    <a href="#" class="goToTop">Go To Top</a>
</div>