<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>

<script src="js/footer.js"></script>

<div class="footer">
    <span class="copy"></span>
    <a href="#" class="goToTop">Go To Top</a>
</div>

