<!-- views/partials/header.ejs -->

<div class="container">
<h1 class="farm">Alltrue Farm</h1>
    <div class="navbar">
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/garden">GARDEN</a>
            </li>
            <li>
                <a href="/turkey">TURKEYS</a>
            </li>
            <li>
                <a href="/chicken">CHICKENS</a>
            </li>
            <li>
                <a href="/bee">BEES</a>
            </li>
            <li>
                <a href="/cat">CATS</a>
            </li>
            <li>
                <a href="/shop">SHOPPING</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
    </div>
</div>

