<!-- views/partials/header.ejs -->

<div class="container">
<h1 class="farm">This is my farm!</h1>
    <div class="navbar">
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/fowl">BARNYARD FOWL</a>
            </li>
            <li>
                <a href="/garden">GARDEN</a>
            </li>
            <li>
                <a href="/pest">PEST CONTROL</a>
            </li>
            <li>
                <a href="/herd">HERDERS</a>
            </li>
            <li>
                <a href="/sting">STINGERS</a>
            </li>
            <li>
                <a href="/shop">SHOPPING</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
    </div>
</div>

