/* public/cdd/styles.css */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.container{
    /*background-color: #fe85ff;*/
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.farm{
    display: flex;
    justify-content: center;
}

.navbar{
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
}

ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    display: inline;
    background-color: #3b3b3b;
}
ul:after{   /*sometimes uses :: but not all browsers recognize it insert after ul*/
    /*need to do this to identify the ul because we are using a float*/
    content: "";
    clear: both;
    height: 0;
    width: 0;
    display: block;
}
li a {
    display: block;      /*Display link as a block to make area clickable*/
    background-color: #3b3b3b;
    color: #fff;
    /*width: 100%;*/
    /*height: 20px;*/
    font-size: 16px;
    text-decoration: none;  /*removes underline from link*/
    padding: 20px;     /*padding around link*/
}

li a:hover{
    background-color: #000;