/* public/cdd/styles.css */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #add8e6;
    color: darkgreen;
    font-family: sans-serif;
    font-size: large;
}

.container{
    background-color: #72b3e6;
}

.pageTitle{
    text-align: center;
    margin: 10px;
}

/* Start Header Page */
.farm{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: Verdana, Geneva, sans-serif;
    color: darkgreen;
    margin: 0;
    padding: 15px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
}
li{
    display: flex;
    flex: 1;
    border-radius: 5px
}
ul:after{   /*sometimes uses :: but not all browsers recognize it insert after ul*/
    /*need to do this to identify the ul because we are using a float*/
    content: "";
    clear: both;
    height: 0;
    width: 0;
    display: block;
}
li a {
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    text-align: center;
}
li a:hover {
    background-color: lightblue;
    border-radius: 5px;
}
/* End Header Page */

/* Start Home Page*/
.home{
    background: url(homeBckgrd.jpg);
    background-size: cover;
    height: 100%;
    text-align: center;
}
.home p, .home h2{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 0;
    font-size: x-large;
}
/* End Home Page*/

/* Start turkey Page*/
.turkey{
    height: 100vh;
    margin: auto;
    text-align: center;
}
.turkey img{
    padding: 20px;
}
/* End turkey Page */

/* Start Garden Page */
.garden p{
    margin: 10px;
}
.garden{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
/* cycle-slideshow */
.cycle-slideshow{
    width: 80%;
    position: relative;
    margin: auto;
    height: 100%;
    overflow: hidden;
}
.pause{
    color: darkgreen;
    font-size: x-small;
    text-transform: uppercase;
    margin: auto;
    width: 275px;
}
#adv-custom-pager.center.external a {
    margin: 0 5px;
}
#adv-custom-pager.center.external{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* End Garden Page */

/* Start cat Page */
.cat{
    text-align: center;
}
/* End cat Page */

/* Start chicken Page */
.chicken{
    text-align: center;
}
/* End chicken Page */

/* Start bee Page */
.bee {
    text-align: center;
}
/* End bee Page */

/* Start shop Page */
.shop{
    width: 80%;
    margin: auto;
    text-align: center;
}

.shop p{
    margin: 10px;
}

.shopPics {
    border-style: solid;
    border-color: grey;
    padding: 10px;
    min-height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.shopTitle, .price {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.shopPics img{
    max-width: 350px;
    border-radius: 5px;
    float: left;
    padding: 20px;
}
.description{
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: x-large;
    padding: 20px;
}
/* End shop Page */

/* Start contact Page */
form.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactText, .thankYou p{
    text-align: center;
    margin: 10px;
}

fieldset input{
    font-size: small;
}
label{
    display: block;
    font-size: medium;
}
fieldset {
    border:0;
}
form{
    border: 1px solid #ccc;

}
fieldset .errorMsg, fieldset .emailErrorMsg{
    display: none;
    color: red;
    font-size: 10px;
    line-height: 1;
}
fieldset.error .errorMsg, fieldset.emailError .emailErrorMsg{
    display: inline;
    font-size: medium;
}
fieldset.error input{
    border: 1px solid red;
}
/* End contact Page */
