/* public/cdd/styles.css */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
}

/* Start Header Page */
.container{
    /*flex: 1 1 auto;*/
    /*flex-direction: column;*/
}
.farm{
    display: flex;
    justify-content: center;
}
.navbar {
    /*background-color: yellow;*/
    /*display: flex;*/
    justify-content: center;
}
ul, li{
    display: flex;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    text-align: center;
}
ul:after{   /*sometimes uses :: but not all browsers recognize it insert after ul*/
    /*need to do this to identify the ul because we are using a float*/
    content: "";
    clear: both;
    height: 0;
    width: 0;
    display: block;
}
li a {
    width: 100%;
    display: flex;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 16px;
    text-decoration: none;  /*removes underline from link*/
    padding: 20px;     /*padding around link*/
    justify-content: center;
    align-items: center;
    flex: 1;

}
li a:hover {
    background-color: #000;
}
/* End Header Page */

/* Start Home Page*/
.home{
    background: url(homeBckgrd.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.home p, .home h2{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 0;
}
/* End Home Page*/

/* Start fowl Page*/
.fowl{

}
/* End fowl Page */

/* Start Garden Page */
.garden{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
/* cycle-slideshow */
.cycle-slideshow{
    width: 80%;
    position: relative;
    margin: auto;
    height: 100%;
    overflow: hidden;
}
.cover{
    object-fit: cover;
}
#adv-custom-pager.center.external a {
    margin: 0 5px;
}
#adv-custom-pager.center.external{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* End Garden Page */

/* Start pest Page */
.pest{

}
/* End pest Page */

/* Start herd Page */
.herd{

}
/* End herd Page */

/* Start sting Page */
.sting {
}
/* End sting Page */

/* Start shop Page */
.shop {
    width: 80%;
    margin: 30px auto;
}
.shopPics {
    float: left;
    width: 17%;
    margin:  2% 2% 2% 2%;
    border-style: solid;
    border-color: grey;
    padding: 10px;

}
.shopTitle, .price {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.shopPics img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* End shop Page */

/* Start contact Page */
.contact{

}
/* End contact Page */
