<!-- views/pages/bee.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<h1 class="pageTitle"><%= pageTitle %></h1>
<div class="bee">
    <a href="#"><img src="css/beePics/beeAndMnt.jpg" alt="Bee Hives with Mountain Background"/></a>
    <a href="#"><img src="css/beePics/beeCloseUp.jpg" alt="Close Up View of Bees"/></a>
    <a href="#"><img src="css/beePics/beePackage.jpg" alt="The Bee Package"/></a>
    <a href="#"><img src="css/beePics/beeSide.jpg" alt="Side View of Bee Hive/></a>
    <a href="#"><img src="css/beePics/beeWindow.jpg" alt="Bees Through Hive Window"/></a>
    <a href="#"><img src="css/beePics/hiveFront.jpg" alt="Front View of Bee Hive"/></a>
    <a href="#"><img src="css/beePics/honeyComb.jpg" alt="Honeycomb"/></a>
    <a href="#"><img src="css/beePics/twoBees.jpg" alt="Two Top Bar Hives"/></a>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>