<!-- views/pages/cat.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<h1 class="pageTitle"><%= pageTitle %></h1>
<div class="cat">
    <p>Don't let these cuties fool you... They're great mousers!</p>
    <div>
    <a href="#"><img src="img/catPics/catBasket.jpg" alt="Cat in a Basket"/></a>
    <a href="#"><img src="img/catPics/threeCats.jpg" alt="My Three Cats"/></a>
    <a href="#"><img src="img/catPics/catSoda.jpg" alt="Cat in a Soda Container"/></a>
    </div>
    <div>
        <a href="#"><img src="img/catPics/kittens.jpg" alt="Kittens"/></a>
        <a href="#"><img src="img/catPics/newKittens.jpg" alt="New Born Kittens"/></a>
        <a href="#"><img src="img/catPics/fourWeeks.jpg" alt="Four Week Old Kittens"/></a>
    </div>
    <div>
    <a href="#"><img src="img/catPics/sleepingCats.jpg" alt="Sleeping Cats"/></a>
    <a href="#"><img src="img/catPics/catNap.jpg" alt="Cats Taking a Nap"/></a>
    </div>
    <div>
    <a href="#"><img src="img/catPics/catChair.jpg" alt="Favorite Cat Chair"/></a>
    </div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>