<!-- views/pages/chicken.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<h1 class="pageTitle"><%= pageTitle %></h1>
<div class="chicken">
<h2>This page is under construction.</h2>
</div>
</body>

</html>