<!-- views/pages/chicken.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<h1 class="pageTitle"><%= pageTitle %></h1>
<div class="chicken">
    <p>We have a variety of chicken breeds.</p>
    <p>Rhode Island Red, New Hampshire Red, Barred Plymouth Rock, Black Australorp, Buff Orpington, Golden Laced Whandotte and Ameraucana</p>
    <div>
    <a href="#"><img src="css/chickenPics/buffy.jpg" alt="Buffy the Rooster"/></a>
    <a href="#"><img src="css/chickenPics/angel.jpg" alt="Angel the Rooster"/></a>
    </div>
    <div>
    <a href="#"><img src="css/chickenPics/chicks.jpg" alt="New Chicks"/></a>
    <a href="#"><img src="css/chickenPics/teenChicks.jpg" alt="Teenage Chicks"/></a>
    </div>
    <a href="#"><img src="css/chickenPics/chickenFeeder.jpg" alt="Chickens at the Feeder"/></a>
    <a href="#"><img src="css/chickenPics/flock.jpg" alt="Our Flock"/></a>
    <a href="#"><img src="css/chickenPics/flock2.jpg" alt="Our Flock"/></a>
    <div>
    <a href="#"><img src="css/chickenPics/incubator.jpg" alt="Incubator"/></a>
    <a href="#"><img src="css/chickenPics/hatchling.jpg" alt="Hatchling"/></a>
    </div>
    <div>
    <a href="#"><img src="css/chickenPics/missBroody.jpg" alt="Miss Broody Bird"/></a>
    <a href="#"><img src="css/chickenPics/nestEggs.jpg" alt="A Nest of Eggs"/></a>
    </div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>