<!-- views/pages/contact.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
    <script src="js/contact.js"></script>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<div class="contact"></div>
    <h1>Contact Us</h1>
    <form class="" action="pages/contact" method="post" novalidate>
        <fieldset>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName">
            <p class="errorMsg">Please enter your first name.</p>
        </fieldset>
        <fieldset>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName">
            <p class="errorMsg">Please enter your last name.</p>
        </fieldset>
        <fieldset>
            <label for="emailAddr">Email Address</label>
            <input type="text" name="emailAddr" id="emailAddr">
            <p class="errorMsg">Please enter your email address.</p>
            <p class="emailErrorMsg">Please enter a valid email address</p>
        </fieldset>
        <fieldset>
            <input type="reset" value="reset">
            <input type="submit" value="submit">
        </fieldset>
    </form>
</div>
</body>
</html>