<!-- views/pages/contact.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
    <script src="js/contact.js"></script>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
    <h1 class="pageTitle"><%= pageTitle %></h1>
    <p class="contactText">We work outside a lot so please enter your name and email address and we will get back to you as soon as we can.</p>

<form class="contact" action="/contact" method="post" novalidate>
        <fieldset>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName">
            <p class="errorMsg">Please enter your first name.</p>
        </fieldset>
        <fieldset>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName">
            <p class="errorMsg">Please enter your last name.</p>
        </fieldset>
        <fieldset>
            <label for="emailAddr">Email Address</label>
            <input type="text" name="emailAddr" id="emailAddr">
            <p class="errorMsg">Please enter your email address.</p>
            <p class="emailErrorMsg">Please enter a valid email address.</p>
        </fieldset>
    <fieldset>
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject">
        <!--<p class="errorMsg">Please enter the subject for your email.</p>-->
    </fieldset>
    <fieldset>
        <label for="comments">Comments</label>
        <textarea name="comments" id="comments" cols="40" rows="10"></textarea>
    </fieldset>
    <fieldset>
            <input type="reset" value="reset">
            <input type="submit" value="submit">
        </fieldset>
</form>
</body>
</html>