<!-- views/pages/garden.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>

<span class="garden">
<h2>Fresh vegetables from the Garden!</h2>
</span>

<!-- Begin Responsive Carousel -->

<div class="cycle-slideshow">
    <span class="cycle-prev">&#9001;</span>
    <span class="cycle-next">&#9002;</span>
    <span class="cycle-pager"></span>
    <img src="css/farm1.jpg" alt="Farm1">
    <img src="css/farm2.jpg" alt="Farm2">
    <img src="css/farm3.jpg" alt="Farm3">
    <img src="css/farm4.jpg" alt="Farm4">
</div>

 <!--End Responsive Carousel -->

</body>

</html>