<!-- views/pages/garden.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
    <script type="text/javascript" src="js/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="js/jquery.cycle2.center.min.js"></script>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<div class="garden">
    <h1 class="pageTitle"><%= pageTitle %></h1>
    <p>We don't use any chemicals or pesticides.</p>

<div class="cycle-slideshow"
     data-cycle-fx=fadeout
     data-cycle-timeout=3500
     data-cycle-center-horz=true
     data-cycle-center-vert=true
     data-cycle-pager="#adv-custom-pager"
     data-cycle-pager-template="<a href='#'><img src='{{src}}' width=40 height=40></a>"
     data-cycle-pause-on-hover="true"
>
    <img src="css/gardenPics/garden.jpg" alt="Garden" width="640" height="427">
    <img src="css/gardenPics/cornField.jpg" alt="Corn" width="440" height="640">
    <img src="css/gardenPics/sunflower.jpg" alt="Sunflower" width="424" height="640">
    <img src="css/gardenPics/cucumbers.jpg" alt="Cucumbers" width="640" height="360">
    <img src="css/gardenPics/corn.jpg" alt="Corn">
    <img src="css/gardenPics/sunflowerHarvest.jpg" alt="Sunflower" width="480" height="580">
</div>
<!-- empty element for pager links -->
<div id=adv-custom-pager class="center external"></div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>