<!-- views/pages/garden.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>

<div class="garden">
<h2>Fresh vegetables from the Garden!</h2>
</div>

<!-- Begin Responsive Carousel -->

<div class="cycle-slideshow">
    <span class="cycle-prev">&#9001;</span>
    <span class="cycle-next">&#9002;</span>
    <span class="cycle-pager"></span>
    <img src="css/homeBckgrd.jpg" alt="Home">
    <img src="css/sunflower.jpg" alt="Sunflower">
    <img src="css/slide1.gif" alt="Slide 1">
    <img src="css/slide2.gif" alt="Slide 2">
</div>

 <!--End Responsive Carousel -->

</body>

</html>