<!-- views/pages/garden.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<div class="garden">
<h2>Fresh vegetables from the Garden!</h2>
    <p>Here are some pictures of what we harvested in 2015</p>

<!-- Begin Responsive Carousel -->

<div class="cycle-slideshow">
    <span class="cycle-prev">&#9001;</span>
    <span class="cycle-next">&#9002;</span>
    <span class="cycle-pager"></span>
    <img src="css/gardenPics/garden.jpg" alt="Garden">
    <img src="css/gardenPics/sunflower.jpg" alt="Sunflower">
    <img src="css/gardenPics/cucumbers.jpg" alt="Cucumbers">
    <img src="css/gardenPics/corn.jpg" alt="Corn">
    <img src="css/gardenPics/sunflowerHarvest.jpg" alt="Sunflower">
</div>

 <!--End Responsive Carousel -->

</div>
</body>

</html>