<!-- views/pages/herd.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<div class="herd"></div>
<!--<h2>Herders</h2>-->
<h1 class="pageTitle"><%= pageTitle %></h1>

</body>

</html>