<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
    <header>
        <!-- Include the header of the page -->
        <% include ../partials/header.ejs %>
    </header>
        <div class="home"></div>
</body>

</html>