<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
    <header>
        <!-- Include the header of the page -->
        <% include ../partials/header.ejs %>
    </header>
        <div class="home">
            <h1 class="pageTitle"><%= pageTitle %></h1>
            <p>We are just a couple of city folks that decided to move out to the country. In 2014 we found some property that was more than we were looking for and weren’t sure what to do with it. So we decided to start a small family farm. We started out with chickens and a huge garden, then we added turkeys and bees. After we put up some more fencing we are thinking about getting some goats. And don’t forget about the cats and dogs!</p>
        </div>
</body>

</html>