<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
    <header>
        <h1>This is my farm!</h1>
    </header>
    <div class="container">
        <div class="navbar">
            <ul>
                <li>
                    <a href="HOME">HOME</a>
                </li>
                <li>
                    <a href="BARNYARD FOWL">BARNYARD FOWL</a>
                </li>
                <li>
                    <a href="GARDEN">GARDEN</a>
                </li>
                <li>
                    <a href="PEST CONTROL">PEST CONTROL</a>
                </li>
                <li>
                    <a href="HERDERS">HERDERS</a>
                </li>
                <li>
                    <a href="STINGERS">STINGERS</a>
                </li>
                <li>
                    <a href="CONTACT">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>