<!-- views/pages/shop.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<div class="shop">
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/chicks.jpg" alt="Chicks"/></a>
        <h3 class="shopTitle">spring chicks!</h3>
        <p>Spring is here and we are hatching chicks from our flock. The first hatch was on 3-4-16 and the next hatch it due 3-27-16.</p>
        <p class="price">$5.00/each</p>
    </div>
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/eggs.jpg" alt="Eggs" /></a>
        <h3 class="shopTitle">farm fresh eggs</h3>
        <p>Our flock lays multi-colored eggs! Each container varies in colors: blue, green, pink, tan, brown and some with speckles.</p>
        <p class="price">$4.00/dozen</p>
    </div>
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/honey.jpg" alt="Honey" /></a>
        <h3 class="shopTitle">honey</h3>
        <p>Our first harvest of honey will be in fall 2016</p>
    </div>
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/veggies.jpg" alt="Vegetables" /></a>
        <h3 class="shopTitle">vegetables</h3>
        <p>Check back this summer to see what seasonal vegetables we have.</p>
    </div>
</div>
</body>
</html>