<!-- views/pages/shop.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<div class="shop">
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/chicks.jpg" alt="" /></a>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/eggs.jpg" alt="" /></a>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/honey.jpg" alt="" /></a>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <div class="shopPics">
        <a href="#"><img src="css/shopPics/veggies.jpg" alt="" /></a>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
</div>
</body>
</html>