<!-- views/pages/shop.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<h1 class="pageTitle"><%= pageTitle %></h1>
<div class="shop">
    <p>If you see something here you are interested in, fill out the form on the <a href="/contact">contact</a> page.</p>
    <div class="shopPics">
        <a href="#"><img src="img/shopPics/chicks.jpg" alt="Chicks"/></a>
        <div class="content">
            <h3 class="shopTitle">chicks</h3>
            <p class="description">We hatch every month from March to July.</p>
            <p class="price">Chicken: $3.00 - $5.00</p>
            <p class="price"> Turkey: $10.00 - $15.00</p>
            <p>(Next hatch expected around 4-26-2016.)</p>
        </div>
    </div>
    <div class="shopPics">
        <a href="#"><img src="img/shopPics/hiveSideView.jpg" alt="Side"/></a>
        <a href="#"><img src="img/shopPics/hiveFrontView.jpg" alt="Front"/></a>
        <div class="content">
            <h3 class="shopTitle">top bar hive</h3>
            <p class="description">Hand made Top Bar bee hive with viewing window, clean out bottom, follower board and top bars.</p>
            <p class="price">$250.00</p>
        </div>
    </div>

    <div class="shopPics">
        <a href="#"><img src="img/shopPics/eggs.jpg" alt="Eggs" /></a>
        <div class="content">
            <h3 class="shopTitle">farm fresh chicken eggs</h3>
            <p class="description">Our flock lays multi-colored eggs! Each container varies in colors: blue, green, pink, tan, brown and some with speckles.</p>
            <p class="price">$5.00/dozen</p>
        </div>
    </div>
    <div class="shopPics">
        <a href="#"><img src="img/shopPics/turkeyEggs.jpg" alt="Eggs" /></a>
        <div class="content">
            <h3 class="shopTitle">farm fresh turkey eggs</h3>
            <p class="description">Turkeys occasionally lay eggs from spring through fall.</p>
            <p class="price">$10.00/dozen</p>
        </div>
    </div>

    <div class="shopPics">
        <a href="#"><img src="img/shopPics/honey.jpg" alt="Honey" /></a>
        <div class="content">
            <h3 class="shopTitle">honey</h3>
            <p class="description">We harvest honey in fall. Check back for availability.</p>
            <p>We are taking orders for Top Bar bee hives. Contact us for more details.</p>
        </div>
    </div>
    <div class="shopPics">
        <a href="#"><img src="img/shopPics/veggies.jpg" alt="Vegetables" /></a>
        <div class="content">
            <h3 class="shopTitle">vegetables</h3>
            <p class="description">Check back to see what seasonal vegetables we have.</p>
        </div>
    </div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>