<!-- views/pages/sting.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
<div class="sting"></div>
<h2>Stingers</h2>

</body>

</html>