<!-- views/pages/turkey.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!-- include head.ejs file-->
    <% include ../partials/head.ejs%>
</head>
<body>
<header>
    <!-- Include the header of the page -->
    <% include ../partials/header.ejs %>
</header>
    <h1 class="pageTitle"><%= pageTitle %></h1>
<div class="turkey">
    <div>
    <a href="#"><img src="css/turkeyPics/turkeyFlock.jpg" alt="A Flock of Turkeys"/></a>
    </div>
    <a href="#"><img src="css/turkeyPics/chicks.jpg" alt=" Turkey Chicks"/></a>
    <a href="#"><img src="css/turkeyPics/tom.jpg" alt="Tom"/></a>
    <a href="#"><img src="css/turkeyPics/barnTurkeys.jpg" alt="Barn Turkeys"/></a>
    <a href="#"><img src="css/turkeyPics/houseTurkeys.jpg" alt="House Turkeys"/></a>
    <a href="#"><img src="css/turkeyPics/tractorTurkey.jpg" alt="Tractor Turkeys"/></a>
</div>
</body>

</html>